# Byte-compiled /opticized / DLL Files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# .env Files
.env

# Local Config Files
.replit
config.py

# Package Folders
.local/
.pythonlibs/
.upm/
.git/

# Package Files
poetry.lock
pyproject.toml

# Log Files
*.log